<!doctype html>
<html>
<head>
  <title>내년도 희망 학년 업무 조사</title>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <form action="/save" method="post"></form>
  <h1>내년도 희망 학년 업무 조사</h1>
  <fieldset name="information">
    <legend> 기본정보 </legend>
    <div class="name">
      <span class="input-group-text" id="name">이름 </span>
      <input type="text" class="form-control" placeholder="홍길동" required aria-label="name" aria-describedby="addon-wrapping">
    </div>
    
    <br>
    
    <div class="neis number">
      <span class="input-group-text" id="addon-wrapping">나이스 개인번호 뒷 네자리</span>
      <input type="text" class="form-control" placeholder="0000"  required aria-label="Username" aria-describedby="addon-wrapping">
    </div>
  </fieldset>
  
  <br>
  
  <legend> 경력 및 희망 부장 </legend>
   <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">본교 경력</label>
    <select class="form-select" id="inputGroupSelect01" required>
      <option selected>여기를 클릭해 선택하세요</option>
      <option value="1">1년</option>
      <option value="2">2년</option>
      <option value="3">3년</option>
      <option value="4">4년</option>
      <option value="5">5년</option>
    </select>
  </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">부장 희망 여부</label>
      <select class="form-select" id="inputGroupSelect01">
        <option value="1">비희망</option>
        <option value="2">희망</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">희망 부서</label>
      <select class="form-select" id="inputGroupSelect01">
        <option selected>희망 없음</option>
        <option value="1">교무부장</option>
        <option value="2">연구부장</option>
        <option value="3">정보부장</option>
        <option value="4">생활인권부장</option>
      </select>
    </div>
  <br>
  <legend> 2. 희망 학년 </legend>
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">희망 학년</label>
    <select class="form-select" id="inputGroupSelect01">
      <option value="1">1학년</option>
      <option value="2">2학년</option>
      <option value="3">3학년</option>
      <option value="4">4학년</option>
      <option value="5">5학년</option>
      <option value="6">6학년</option>
    </select>
    </div>
  <br>

  <legend> 3. 교과 전담 희망 </legend>
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">교과전담 희망 여부</label>
    <select class="form-select" id="inputGroupSelect01">
      <option value="1">비희망</option>
      <option value="2">희망</option>
    </select>
  </div>
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">희망 교과</label>
    <select class="form-select" id="inputGroupSelect01">
      <option selected>희망 없음</option>
      <option value="1">영어</option>
      <option value="2">체육</option>
      <option value="3">과학</option>
    </select>
  </div>
  <input class="btn btn-primary" type="submit" value="제출하기">

</body>
</html>


<!-- <fieldset name="score">
  <legend>다음 문항에 대해 5점 척도로 답하세요</legend>
  본 세미나의 주제는 만족스러운가? 1 <input type="range" min="1" max="5"/> 5<br>
  본 세미나의 초청강사는 만족스러운가? 1 <input type="range" min="1" max="5"/> 5<br>
  본 세미나의 강의시간은 적절한가? 1 <input type="range" min="1" max="5"/> 5<br>
</fieldset>
<br>
기타 의견 사항
<br>
<textarea cols="100" rows="5" placeholder="의견을 입력하세요.">의견을 입력하세요.</textarea>
<br>
<input type="button" value="확인"/>
<input type="reset" value="취소"/>
<input type="checkbox" name="interest" value="4" />기계학습-->