<html>
<head>
  <title>데이터 확인</title>
</head>
<body>
  <h1>데이터 확인</h1>
  <table>
    <tr>
      <td>이름</td>
      <td>{{ name }}</td>
    </tr>
    <tr>
      <td>나이스 개인번호 뒷 네자리</td>
      <td>{{ neis }}</td>
    </tr>
    <tr>
      <td>본교 경력</td>
      <td>{{ career }}</td>
    </tr>
    <tr>
      <td>희망 부서</td>
      <td>{{ department }}</td>
    </tr>
    <tr>
      <td>희망 학년</td>
      <td>{{ year }}</td>
    </tr>
    <tr>
      <td>희망 교과</td>
      <td>{{ subject }}</td>
    </tr>
  </table>
</body>
</html>